.landing-page-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background: url('../../assets/images/laptop.png') center no-repeat #13478c;
    background-size: contain;
    text-align: center;
}

.landing-logo-container {
    margin-top: 200px;
}

.landing-title {
    font-size: 2rem;
    font-family: 'Roboto';
    font-weight: bold;
    color: white;
    margin: 50px 0;
}


.goodie-bag-logo {
    width: 20vh;
    height: 20vh;
    /* background: white;
    border-radius: 30%; */
}

.landing-btn-container {
    display: inline-block;
    margin-top: 20px;
}