.members-title {
    font-size: 2em;
    text-align: center;
    position: relative;
    margin: 50px auto;
    width: 200px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 10vw;
}

@keyframes expand-line {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(0.75);
    }
  }

.line-animation {
    display: inline-block;
}

.line-animation::after {
    content: '';
    height: 3px;
    width: 500px;
    transform: scaleX(0);
    background: linear-gradient(to right, white 0 25%, transparent 25% 75%, white 75% 100%);
    position: absolute;
    top: 20px;
    left: -150px;
    animation: expand-line 1s linear forwards;
  }